workflow_chatbot_n8n.json
{
  "name": "Chatbot Ultra Fest (Groq)",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hey bienvenido! 👋\nMi nombre es Nova, en qué puedo ayudarte?",
        "options": {}
      },
      "id": "76e4a550-1228-434e-b6e9-7f3cbacae012",
      "name": "On chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [
        176,
        -352
      ],
      "webhookId": "ba46a3ef-cce2-4ee1-8ea6-1a788bc21469"
    },
    {
      "parameters": {
        "text": "=={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Eres el asistente virtual oficial del NOVA CRUZ (fechas: 15 y 16 de Noviembre de 2026). El evento es en Ventura Arena. Eres muy amable, entusiasta y respondes siempre en español. Informas sobre los DJs invitados (Martin Garrix, Tiësto, David Guetta, Bizarrap) y guías al usuario para la venta de entradas. Sé breve y conciso en tus respuestas."
        }
      },
      "id": "e7c35df9-36c5-4ee7-8072-53f5170341b8",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        400,
        -352
      ]
    },
    {
      "parameters": {
        "model": "groq/compound",
        "options": {}
      },
      "id": "a646bb40-8252-4e96-8f06-819d7aa39e7c",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        400,
        -112
      ],
      "credentials": {
        "groqApi": {
          "id": "nbFHsfqvGVJzlkkY",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {},
      "id": "2906b11d-cbd2-4c98-b743-76030cee3f2c",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [
        544,
        -112
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "On chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8922ae12-cb72-40ca-b0df-ea9db5d2e386",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "70c7c0efcc6bd88c76b317578196d3b71b0669d7c1fde94344673d61ba31dc2a"
  },
  "id": "jsnI55OFhdrTUl5l",
  "tags": []
}